<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find safe_arm_description)/urdf/safe_arm_v1.urdf.xacro" />	
	
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />	
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
		<param name="use_gui" value="1" />
	</node>	

</launch>
